کاربر گرامی رسا، با آرزوی سلامتی برای شما، نتیجه ی تست شما میبایست تا این لحظه از طرف آزمایشگاه به دست شما رسیده باشد. در صورتی که نتیجه تست خود را دریافت نکرده اید لطفا پشتیبانی رسا به شماره 02174471300 تماس بگیرید.
