{{user_fullname}} عزیز، سفارش تست کرونا در منزل شما نیمه کاره مانده است. سلامتی شما برای ما مهم است به همین منظور با این کد تخفیف تا یک ساعت آینده می توانید {{amount}} هزار تومان تخفیف بگیرید.
کد تخفیف : {{code}}
